<html>
    <head>
        <title>Contact | Weather App</title>
        <link rel="stylesheet" href="./css/style.css"/>
        <script src="./js/app.js"></script>
    </head>
    <body>
        {{>header}}
        <div class="main-contanier">
            Email : xyz@abc.com
        </div>
        
        {{>footer}}
    </body>
</html>